* {
	box-sizing: border-box;
}

// using breakpoints

.square {
	width: 300px;
	height: 300px;
	margin: 20px;
	background-color: hotpink;
}

@media (min-width: 700px) {
	.square {
		width: 500px;
		height: 500px;
	}
}

@media (min-width: 1000px) {
	.square {
		width: 700px;
		height: 700px;
	}
}

// responsive image
// height keeps aspect ratio
// define images at half height for retina displays (outdated?)

#hollowknight {
	max-width: 80%;
	height: auto;
}
